/* -- Colors -- */
$mainBlue: #487AB6;
$bodytxtBlue: #E8EEF6;
$lightBlue7: #E8EEF6;
$mainOrange: #F78334;
$mainYellow: #F3CB4C;
$mainTeal: #B9E2D9;
$darkTeal5: #3D9180;
$mainDarkBlue: #083657;
$boxShadowBlue: #3165b3;
$white: #fff;