/* -- Colors -- */
/* -- Global -- */
/* -- Text Styles -- */
/* -- Buttons -- */
/* -- Containers -- */
/*-- Intros -- */
/* -- Forms -- */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1, p {
  margin: 0;
}

/* -- Header Area -- */
header {
  background-color: #487AB6;
}
header h1 {
  font-family: "acumin-variable", sans-serif;
  font-variation-settings: "wght" 700, "wdth" 70, "slnt" 0;
  text-transform: uppercase;
  font-size: 80px;
  line-height: 80px;
  color: #E8EEF6;
  margin: 0;
}
header p {
  font-family: "acumin-variable", sans-serif;
  font-variation-settings: "wght" 350, "wdth" 110, "slnt" 0;
  font-size: 19px;
  margin: 0;
  color: #E8EEF6;
}

.hero {
  padding: 0 150px;
}

.hero-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  min-height: 563px;
  margin: 0 auto;
  text-align: left;
  padding: 32px 0;
  gap: 104px;
}
.hero-container .hero-logo img {
  width: 256px;
  height: auto;
}
.hero-container .hero-content {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.hero-container .hero-content p {
  max-width: 600px;
  height: auto;
}
.hero-container .materials-card {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 32px 24px;
  border-radius: 16px;
  max-width: 393px;
  text-align: center;
  box-shadow: 3px 4px 4px 0px #3165b3;
}
.hero-container .materials-card h3 {
  margin: 0;
  font-family: "acumin-variable", sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 30px;
  color: #487AB6;
}
.hero-container .materials-card p {
  color: #487AB6;
}
.hero-container .materials-card form {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.hero-container .materials-card form input[type=email] {
  background-color: #E8EEF6;
  font-family: "acumin-variable", sans-serif;
  font-variation-settings: "wght" 350, "wdth" 110, "slnt" 0;
  font-size: 19px;
  margin: 0;
  color: #E8EEF6;
  width: 100%;
  max-width: 348px;
  padding: 5px 6px;
  border: 0;
  border-radius: 2px;
}
.hero-container .materials-card form button {
  background-color: #F78334;
  border-radius: 8px;
  padding: 24px;
  border: 0;
  color: #fff;
  font-family: "acumin-variable", sans-serif;
  font-variation-settings: "wght" 600, "wdth" 70, "slnt" 0;
  font-size: 21px;
}

/* -- Games Area -- */
.games-container {
  background-color: #083657;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 32px;
  padding: 32px 0;
}
.games-container .games-intro {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.games-container .games-intro h2 {
  font-family: "acumin-pro", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 60px;
  line-height: 1;
  color: #E8EEF6;
  margin: 0;
  padding: 0 0 16px 0;
}
.games-container .games-intro p {
  max-width: 640px;
  font-family: "acumin-variable", sans-serif;
  font-variation-settings: "wght" 350, "wdth" 110, "slnt" 0;
  font-size: 19px;
  margin: 0;
  color: #E8EEF6;
}
.games-container .games-wrapper {
  padding: 0 80px 32px 80px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 80px;
  padding: 32px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 80px;
}
.games-container .games-wrapper .game {
  display: flex;
  flex-direction: column;
  gap: 24px;
  max-width: 480px;
  flex: 1 1 300px;
}
.games-container .games-wrapper .game img {
  max-width: 569px;
  border-radius: 20px;
  box-shadow: 2px 4px 5px 3px rgba(0, 0, 0, 0.25);
  max-width: 100%;
}
.games-container .games-wrapper .game p {
  font-family: "acumin-variable", sans-serif;
  font-variation-settings: "wght" 350, "wdth" 110, "slnt" 0;
  font-size: 19px;
  margin: 0;
  color: #E8EEF6;
  max-width: 640px;
  max-width: 538px;
}

/* -- Videos Area -- */
.carousel-container {
  padding: 32px;
  background-color: #3D9180;
  display: flex;
  flex-direction: column;
  gap: 24px;
  text-align: center;
}
.carousel-container h2 {
  font-family: "acumin-pro", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 60px;
  line-height: 1;
  color: #B9E2D9;
  margin: 0;
  padding: 0 0 16px 0;
  padding: 0 !important;
}
.carousel-container .custom-video-container {
  width: 800px;
  margin: 0 auto;
}
.carousel-container .responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}
.carousel-container .custom-video-container {
  position: relative;
}
.carousel-container .custom-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  width: 40px;
  height: 40px;
  background: none;
  border: none;
  border-radius: 2px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.carousel-container .custom-arrow svg {
  width: 100%;
  height: auto;
  fill: #1E4840;
}
.carousel-container .custom-arrow.left-arrow {
  left: -56px;
}
.carousel-container .custom-arrow.right-arrow {
  right: -56px;
}

/* -- Learning Materials Area -- */
.materials-wrapper {
  background: linear-gradient(180deg, #083657 44.71%, #083657 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
  padding: 32px 0;
  font-family: "acumin-variable", sans-serif;
  font-variation-settings: "wght" 350, "wdth" 110, "slnt" 0;
  font-size: 19px;
  margin: 0;
  color: #E8EEF6;
  /* Hover state for the <a> */
  /* Active <li> (gets .uk-active from uk-switcher) */
  /* Yellow hover for the first item */
  /* Teal hover for the second item */
  /* Orange hover for the third item */
  /* -- Switcher Area -- */
}
.materials-wrapper .materials-intro {
  text-align: center;
  color: #E8EEF6;
}
.materials-wrapper .materials-intro h2 {
  font-family: "acumin-pro", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 60px;
  line-height: 1;
  color: #E8EEF6;
  margin: 0;
  padding: 0 0 16px 0;
}
.materials-wrapper .materials-intro p {
  max-width: 640px;
}
.materials-wrapper .uk-subnav-pill > * {
  padding-left: 0px;
}
.materials-wrapper .uk-subnav-pill {
  margin-left: 0;
}
.materials-wrapper .custom-wrapper {
  margin: 0;
  padding: 0px 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;
}
.materials-wrapper .custom-wrapper .grade-box img {
  box-shadow: 3px 4px 15px 0px #041c2d;
  border-radius: 20px;
}
.materials-wrapper .uk-subnav-pill > .grade-box > a {
  padding: 0;
  background: transparent;
  display: inline-block; /* Ensures shadow/border radius work */
  border-radius: 20px; /* Optional, for consistent shape */
  transition: box-shadow 0.3s ease;
}
.materials-wrapper .uk-subnav-pill > .grade-box > a:hover {
  background-color: transparent !important;
  color: inherit !important;
  border-radius: 20px;
}
.materials-wrapper .uk-subnav-pill > .grade-box.uk-active > a {
  background-color: transparent !important;
  border-radius: 20px;
}
.materials-wrapper .uk-subnav-pill > .grade-box:nth-child(1) > a:hover,
.materials-wrapper .uk-subnav-pill > .grade-box:nth-child(1).uk-active > a {
  box-shadow: 2px 5px 6px #F3CB4C;
}
.materials-wrapper .uk-subnav-pill > .grade-box:nth-child(2) > a:hover,
.materials-wrapper .uk-subnav-pill > .grade-box:nth-child(2).uk-active > a {
  box-shadow: 2px 5px 6px #3D9180;
}
.materials-wrapper .uk-subnav-pill > .grade-box:nth-child(3) > a:hover,
.materials-wrapper .uk-subnav-pill > .grade-box:nth-child(3).uk-active > a {
  box-shadow: 2px 5px 6px #F78334;
}
.materials-wrapper .uk-switcher {
  min-width: 1130px;
}
.materials-wrapper .grade-intro {
  display: flex;
  flex-direction: column;
}
.materials-wrapper .grade-intro h3 {
  font-family: "acumin-pro", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 60px;
  line-height: 1;
  color: #E8EEF6;
  margin: 0;
  padding: 0 0 16px 0;
}
.materials-wrapper .grade-intro p {
  max-width: 640px;
}
.materials-wrapper .uk-switcher, .materials-wrapper .uk-card-body, .materials-wrapper .uk-card-footer {
  text-align: left;
}
.materials-wrapper .sixth-container, .materials-wrapper .seventh-container, .materials-wrapper .eighth-container {
  max-width: 1080px;
}

/* -- Card Sections -- */
.custom-card {
  background-color: #F3CB4C;
  border: 2px solid #F3CB4C;
  border-radius: 24px;
  box-shadow: 3px 4px 15px 0px #041c2d;
}

/* .custom-card:hover {
  box-shadow: 0 8px 20px rgba(0,0,0,0.15);
} */
.custom-card-media {
  height: 196px;
  overflow: hidden;
  border-radius: 24px 24px 0 0;
}
.custom-card-media img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}

.custom-card-body {
  padding: 10px 24px;
  gap: 16px;
}
.custom-card-body h4 {
  font-family: "acumin-variable", sans-serif;
  font-variation-settings: "wght" 700, "wdth" 90, "slnt" 0;
  color: #083657;
  line-height: 1;
}
.custom-card-body p {
  font-family: "acumin-variable", sans-serif;
  font-variation-settings: "wght" 350, "wdth" 110, "slnt" 0;
  font-size: 19px;
  margin: 0;
  color: #E8EEF6;
  color: #083657;
}

.custom-card-footer {
  border: 0;
  padding: 0px 24px 16px 24px;
}
.custom-card-footer .custom-card-button {
  font-family: "acumin-variable", sans-serif;
  font-variation-settings: "wght" 400, "wdth" 100, "slnt" 0;
  color: #083657;
}

.custom-card-button span[uk-icon] {
  animation: none !important;
  transition: none !important;
}

.uk-card-default .uk-card-footer {
  border: 0;
}

/* -- About Section -- */
#about {
  display: flex;
  justify-content: center;
  background-color: #3D9180;
  padding: 32px 100px;
}
#about h2 {
  font-family: "acumin-pro", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 60px;
  line-height: 1;
  color: #B9E2D9;
  margin: 0;
  padding: 0 0 16px 0;
}
#about p {
  font-family: "acumin-variable", sans-serif;
  font-variation-settings: "wght" 350, "wdth" 110, "slnt" 0;
  font-size: 19px;
  margin: 0;
  color: #B9E2D9;
  max-width: 640px;
}
#about .about-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

/* -- Footer Section -- */
.footer-wrapper {
  background-color: #487AB6;
  padding: 50px 50px 0 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 24px;
}
.footer-wrapper .footer-logos {
  display: flex;
  gap: 24px;
}
.footer-wrapper .footer-logos img {
  max-height: 104px;
}
.footer-wrapper .footer-content {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.footer-wrapper .footer-content .content-text {
  display: flex;
  flex-direction: row;
  gap: 16px;
}
.footer-wrapper .footer-content .content-text p {
  font-family: "acumin-variable", sans-serif;
  font-variation-settings: "wght" 350, "wdth" 110, "slnt" 0;
  font-size: 19px;
  margin: 0;
  color: #E8EEF6;
  color: #fff !important;
}
.footer-wrapper .footer-content .content-text a {
  color: #fff;
  text-decoration: underline;
}
.footer-wrapper .footer-content .content-icons {
  color: #fff;
}
.footer-wrapper .footer-content .content-icons a {
  color: #fff;
}

.uk-flex {
  background-color: #487AB6 !important;
  margin: 0 !important;
  padding: 8px 48px 32px 48px;
}
.uk-flex span a {
  color: #fff;
  text-decoration: underline;
}

.custom-hr {
  margin: 0;
  border: none;
  border-top: 1px solid #ccc;
  position: relative;
  top: 0.1em; /* Adjust this value to perfectly center it */
}

.custom-divider-text, .content-divider-text a {
  background-color: #487AB6;
  font-family: "acumin-variable", sans-serif;
  font-variation-settings: "wght" 350, "wdth" 110, "slnt" 0;
  font-size: 19px;
  margin: 0;
  color: #E8EEF6;
  color: #fff;
  font-size: 14px;
  margin: 0 10px;
  font-weight: 500;
}

/* -------------------- Media Queries ---------------------- */
@media (min-width: 768px) and (max-width: 1024px) {
  header h1 {
    font-size: 56px;
    line-height: 54px;
    padding: 0 24px;
  }
  header p {
    font-family: "acumin-variable", sans-serif;
    font-variation-settings: "wght" 350, "wdth" 110, "slnt" 0;
    font-size: 19px;
    margin: 0;
    color: #E8EEF6;
  }
  .hero {
    padding: 40px 40px;
  }
  .hero-container {
    flex-direction: column;
    text-align: center;
    gap: 32px;
    padding: 20px 0;
  }
  .hero-container .hero-logo img {
    width: 220px;
  }
  .hero-container .hero-highlight {
    gap: 24px;
  }
  .hero-container .hero-content {
    align-items: center;
    gap: 16px;
  }
  .hero-container .materials-card {
    max-width: 540px;
    width: 100%;
    padding: 32px;
    gap: 20px;
  }
  .games-intro h2,
  .materials-intro h2,
  .carousel-container h2,
  .about-container h2,
  .grade-intro h2 {
    font-size: 48px !important;
  }
  .games-container {
    padding: 40px;
    gap: 32px;
  }
  .games-container .games-intro p {
    font-family: "acumin-variable", sans-serif;
    font-variation-settings: "wght" 350, "wdth" 110, "slnt" 0;
    font-size: 19px;
    margin: 0;
    color: #E8EEF6;
  }
  .games-container .games-wrapper {
    flex-direction: column;
    gap: 32px;
    padding: 0 24px;
    align-items: center;
  }
  .games-container .games-wrapper .game {
    align-items: center;
  }
  .games-container .games-wrapper .game img {
    max-width: 100%;
  }
  .games-container .games-wrapper .game p {
    font-family: "acumin-variable", sans-serif;
    font-variation-settings: "wght" 350, "wdth" 110, "slnt" 0;
    font-size: 19px;
    margin: 0;
    color: #E8EEF6;
  }
  .carousel-container {
    padding: 40px 40px 0 40px;
  }
  .carousel-container .custom-video-container {
    width: 100%;
  }
  .carousel-container .custom-arrow {
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
  }
  .carousel-container .custom-arrow svg {
    width: 70%;
  }
  .carousel-container .custom-arrow.left-arrow {
    left: -40px;
  }
  .carousel-container .custom-arrow.right-arrow {
    right: -40px;
  }
  .materials-wrapper {
    padding: 40px 32px;
    gap: 32px;
    /*.uk-switcher {
      width: 100%;

      .grade-intro {
        padding: 0 0 24px 0;

        h3 {
          font-size: 40px !important;
        }

        p {
          @include body-text;
        }
      }
    }*/
  }
  .materials-wrapper .materials-intro p {
    font-family: "acumin-variable", sans-serif;
    font-variation-settings: "wght" 350, "wdth" 110, "slnt" 0;
    font-size: 19px;
    margin: 0;
    color: #E8EEF6;
  }
  .materials-wrapper .materials-intro h2 {
    font-size: 42px;
  }
  .materials-wrapper .custom-wrapper {
    justify-content: center;
    gap: 40px;
  }
  .materials-wrapper .grade-box {
    width: 100%;
    max-width: 200px;
  }
  .materials-wrapper .uk-switcher {
    background-color: purple !important;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 24px;
    width: 100%;
    min-width: 0 !important;
    max-width: 100%;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
  }
  .materials-wrapper .custom-card {
    flex: 1 1 300px;
    max-width: 100%;
    box-sizing: border-box;
  }
  #about {
    padding: 40px;
  }
  #about .about-container p {
    font-family: "acumin-variable", sans-serif;
    font-variation-settings: "wght" 350, "wdth" 110, "slnt" 0;
    font-size: 19px;
    margin: 0;
    color: #E8EEF6;
  }
  .footer-wrapper {
    padding: 40px 40px 0 40px;
    gap: 24px;
  }
  .footer-wrapper .footer-logos {
    justify-content: center;
    gap: 24px;
  }
  .footer-wrapper .footer-logos img {
    max-height: 60px;
  }
  .footer-wrapper .footer-content .content-text p,
  .footer-wrapper .footer-content .content-text a {
    font-size: 14px;
  }
  .uk-flex.uk-flex-middle.uk-text-center.uk-margin {
    flex-direction: column;
    align-items: center;
    gap: 12px;
  }
  .custom-divider-text {
    font-size: 14px;
  }
  .custom-hr {
    width: 70%;
  }
}
/* --------- Mobile (below 768px) ---------*/
@media (max-width: 767px) {
  header h1 {
    font-size: 48px;
    line-height: 45px;
    padding: 0 10px;
  }
  header p {
    font-family: "acumin-variable", sans-serif;
    font-variation-settings: "wght" 350, "wdth" 110, "slnt" 0;
    font-size: 14px;
    margin: 0;
    color: #E8EEF6;
    padding: 0 32px;
  }
  .hero {
    padding: 20 20px;
  }
  .hero-container {
    flex-direction: column;
    text-align: center;
    gap: 24px;
    min-height: auto;
    padding: 10px 0;
  }
  .hero-container .hero-logo img {
    width: 180px;
    margin: 0 auto;
  }
  .hero-container .hero-highlight {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 16px;
  }
  .hero-container .hero-highlight .hero-content {
    gap: 16px;
  }
  .hero-container .hero-content {
    align-items: center;
    gap: 8px;
  }
  .hero-container .materials-card {
    max-width: 393px;
    width: 100%;
    padding: 20px;
    gap: 16px;
  }
  .games-intro h2, .materials-intro h2, .carousel-container h2, .about-container h2, .grade-intro h2 {
    font-size: 40px !important;
  }
  .games-container {
    padding: 20;
    gap: 24px;
  }
  .games-container .games-intro p {
    font-family: "acumin-variable", sans-serif;
    font-variation-settings: "wght" 350, "wdth" 110, "slnt" 0;
    font-size: 14px;
    margin: 0;
    color: #E8EEF6;
    padding: 0 32px;
  }
  .games-container .games-wrapper {
    flex-direction: column;
    padding: 0 16px 16px 16px;
    gap: 24px;
    align-items: center;
  }
  .games-container .games-wrapper .game {
    align-items: center;
  }
  .games-container .games-wrapper .game img {
    max-width: 100%;
    border-radius: 15px;
  }
  .games-container .games-wrapper .game p {
    font-family: "acumin-variable", sans-serif;
    font-variation-settings: "wght" 350, "wdth" 110, "slnt" 0;
    font-size: 14px;
    margin: 0;
    color: #E8EEF6;
    padding: 0 32px;
  }
  .carousel-container {
    padding: 20 30px 0 30;
  }
  .carousel-container .custom-video-container {
    width: 100%;
  }
  .carousel-container .custom-arrow {
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    z-index: 10;
    width: 40px;
    height: 40px;
  }
  .carousel-container .custom-arrow svg {
    width: 65%;
    height: auto;
    fill: #1E4840;
  }
  .carousel-container .custom-arrow.left-arrow {
    left: -32px;
  }
  .carousel-container .custom-arrow.right-arrow {
    right: -32px;
  }
  .materials-wrapper {
    align-items: flex-start;
    padding: 20px !important;
    gap: 24px;
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
    padding: 0 16px;
  }
  .materials-wrapper .materials-intro p {
    font-family: "acumin-variable", sans-serif;
    font-variation-settings: "wght" 350, "wdth" 110, "slnt" 0;
    font-size: 14px;
    margin: 0;
    color: #E8EEF6;
    padding: 0 32px;
  }
  .materials-wrapper .custom-wrapper {
    display: flex;
    justify-content: center;
    gap: 32px;
  }
  .materials-wrapper .grade-box {
    max-width: 300px;
    width: 100%;
    height: auto;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .materials-wrapper .materials-intro h2 {
    font-size: 36px;
  }
  .materials-wrapper .materials-intro p {
    max-width: 100%;
  }
  .materials-wrapper .uk-switcher {
    background-color: violet !important;
    width: 100%;
    min-width: 0;
    text-align: center;
  }
  .materials-wrapper .uk-switcher .grade-intro {
    padding: 0 0 16px 0;
  }
  .materials-wrapper .uk-switcher .grade-intro h3 {
    font-size: 35px !important;
  }
  .materials-wrapper .uk-switcher .grade-intro p {
    font-family: "acumin-variable", sans-serif;
    font-variation-settings: "wght" 350, "wdth" 110, "slnt" 0;
    font-size: 14px;
    margin: 0;
    color: #E8EEF6;
    padding: 0 32px;
    padding: 0;
  }
  .materials-wrapper .custom-card {
    width: 100%;
  }
  #about {
    padding: 20px;
  }
  #about .about-container p {
    font-family: "acumin-variable", sans-serif;
    font-variation-settings: "wght" 350, "wdth" 110, "slnt" 0;
    font-size: 14px;
    margin: 0;
    color: #E8EEF6;
    padding: 0 32px;
  }
  .footer-wrapper {
    padding: 20px 20 0 20;
    gap: 16px;
  }
  .footer-wrapper .footer-logos {
    justify-content: center;
    gap: 16px;
    flex-direction: row;
  }
  .footer-wrapper .footer-logos img {
    max-height: 50px;
    width: auto;
    height: 100%;
  }
  .footer-wrapper .footer-content {
    display: flex;
    flex-direction: column;
  }
  .footer-wrapper .footer-content .content-text {
    display: flex;
    flex-direction: column;
  }
  .footer-wrapper .footer-content .content-text p, .footer-wrapper .footer-content .content-text a {
    font-size: 12px;
  }
  .uk-flex.uk-flex-middle.uk-text-center.uk-margin {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 8px;
  }
  .custom-divider-text {
    padding: 0 12px;
    font-size: 12px;
    line-height: 1.4;
  }
  .custom-hr {
    width: 60%;
  }
}/*# sourceMappingURL=styles.css.map */